# PROJECT-SPECIFIC

## temporary output folder
build/

## temporary folders for staging and production
staging/
production/

# DEV STUFF

## python bytecode
*.py[co]
__pycache__/

## editor backup files
*~
