# Python dependencies for the Open Schools Kenya
# See readme.md for setup details.

# Requirements for building html
Flask==0.10.1
Markdown==2.4
Frozen-Flask==0.11

# Requirements for building css
cssmin==0.2.0
pyScss==1.2.0.post3
