/*! Kibera School Project Styles | BSD license */




/*
 * Container
 *
 * Wraps the whole page in a centred, 980px box.
 */

.container {
  width: $width-page;
  margin: 0 auto;
}

/*
 * Header Element
 *
 * A sticky header at the top of every page
 */

.container > header {
  position: fixed;
  z-index: $layer-top;
  top: 0;
  left: 50%;
  height: $height-stickyhead;
  width: $width-page;
  margin-left: -$width-page / 2;
  padding: $pad-v $pad-h-thin ;

  font-size: $t-small;
  line-height: 1em;
  color: $c-header-med;
  background: $c-header-bg;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);

  &.text-reset strong,
  h3 {
    font-weight: $t-heavy;
    color: $c-header-bright;
  }

  h1 {
    margin-right: $pad-h;
  }

  a {
    color: inherit;
  }

  .drop-down {
    display: block;
    position: absolute;
    top: 0;
    left: 57.3%;   ////// todo: variable me

    h2 {
      position: relative;
      display: block;
      height: $height-stickyhead;
      padding: 0 $pad-h-thin;
      line-height: $height-stickyhead;

      &:before {
        content: "";
        display: block;
        position: absolute;
        top: $pad-v;
        bottom: $pad-v;
        left: 0;
        right: 0;
        border: 1px solid $c-header-med;
        border-width: 0 1px;
      }

      &:after {
        @include caret;
      }
    }

    ol {
      display: block;
      height: 0;
      overflow: hidden;
      padding: 0;  // zeroed so it collapses. see :hover rules for padding
      background: $c-header-menu;

      li {
        display: block;
        padding: $pad-v-thin $pad-h-thin;

        &:hover {
          background: rgba(127, 127, 127, 0.2);
        }

        h3 {
          display: block;
        }
      }
    }

    h2:hover + ol,
    ol:hover {
      height: auto;
      padding: $pad-v-thin 0 $pad-v 0;
    }
  }

  .header-social-links {
    float: right;
  }

}


/*
 * Video slider
 *
 */

section#home-video {
  margin-top: $height-stickyhead;
  padding-top: $pad-v-big;
}

.videos-slider {
  @include list-reset;

  .video {
    @include box-sizing(content-box);
    display: block;
    float: left;
    margin-right: $pad-h;
    padding: $pad-border;
    border: $b-outline;

    &,
    & .video-screenshot {
      height: $height-vid;
      width: $width-vid;
    }
  }

  .video-meta {
    margin-top: -1px;  // respect contents' top margin
    padding-top: 1px;
  }
}
.videos-pager {
  @include list-reset;
  margin: $pad-v 0;
  font-size: 0;  // hide text; TODO: make this more accessible
  text-align: center;

  li {
    display: inline-block;
    margin: $pad-v-thin $pad-h-thin / 2;
    height: $t-base;
    width: $t-base;
    border: $b-outline;
    border-radius: $t-base / 2;
  }
}

/*
 * Map
 *
 * blah blah bla
 */
section#home-map,
section#school-banner {
  position: relative;  /* establish positioning context */
  padding: 0;
}
section#home-map {
  height: 551px;  /* arbitrarily matched to video height */
}
section#school-banner {
  height: 251px;  /* arbitrary for now */
}
section#home-map .map-controls {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 25%;
}
.map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
section#home-map .map {
  left: 25%;  /* width of .map-controls */
}

.school-overlay {
  position: absolute;
  top: 0;
  left: 4em;
}


/*
 * Footer Element
 *
 * Big footer at the bottom of every page.
 */

footer {
  background: #444;
  color: #ddd;

  a {
    color: inherit;
  }
}


/* =========== Padding =========== */

section {
  padding: 1em;
}


.footer-blogs,
.footer-contact {
  display: inline-block;
  vertical-align: top;
  padding: 1em 1em 3em;
}
.footer-blogs {
  width: 75%;
}
.footer-blogs > ol > li {
  vertical-align: top;
  display: inline-block;
  width: 32%;
  max-height: 12em;
  overflow: hidden;
}

