/*! Kibera School Project Styles | BSD license */

/*
 * General Section styles
 */
section {
  padding: $pad-v $pad-h;
}

/*
 * Header Element
 *
 * A sticky header at the top of every page
 */

.container > header {
  position: fixed;
  z-index: $layer-top;
  top: 0;
  left: 50%;
  height: $height-stickyhead;
  padding: $pad-v $pad-h-thin ;

  font-size: $t-small;
  line-height: $lineheight-stickyhead;
  color: $c-header-med;
  background: $c-header-bg;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);

  &.text-reset strong,
  h3 {
    font-weight: $t-heavy;
    color: $c-header-bright;
  }

  h1 {
    margin-right: $pad-h;
  }

  a {
    color: inherit;
  }

  .header-social-links {
    float: right;
  }

}


/*
 * Video slider
 *
 */

section#home-video {
  margin-top: $height-stickyhead;
  padding-top: $pad-v-big;  // bit extra for the shadow
  padding-bottom: 0;  // pager margin takes care of it
}

.videos-slider {
  @include list-reset;

  .video {
    @include box-sizing(content-box);
    display: block;
    float: left;
    margin-right: $pad-h;
    padding: $pad-border;
    border: $b-outline;

    &,
    & .video-screenshot {
      height: $height-vid;
      width: $width-vid;
    }
  }

  .video-meta {
    margin-top: -1px;  // respect contents' top margin
    padding-top: 1px;
  }
}
.videos-pager {
  @include list-reset;
  margin: $pad-v 0;
  font-size: 0;  // hide text; TODO: make this more accessible
  text-align: center;

  li {
    display: inline-block;
    a {
      @include box-sizing(border-box);
      display: block;
      margin: $pad-v-thin $pad-h-thin / 2;
      height: $t-base;
      width: $t-base;
      border: $b-outline;
      border-color: darken($c-outline, 10%);
      border-radius: $t-base / 2;
      &:hover {
        background: $c-outline;
      }
      &.selected {
        border-color: $c-heavy;
        background: $c-heavy;
      }
    }
  }
}

/*
 * Map
 *
 * blah blah bla
 */
section#home-map,
section#school-banner {
  position: relative;  /* establish positioning context */
  padding: 0;
}
section#home-map {
  height: 551px;  /* arbitrarily matched to video height */
}
section#school-banner {
  height: 251px;  /* arbitrary for now */
}
section#home-map .map-controls {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 25%;
}
.map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
section#home-map .map {
  left: 25%;  /* width of .map-controls */
}

.school-overlay {
  position: absolute;
  top: 0;
  left: 4em;
}


/*
 * Footer Element
 *
 * Big footer at the bottom of every page.
 */

footer {
  /* stretch the full page-width to provide a background */
  position: relative;  // establish context for pseudo before element
  background: $c-footer-light;

  &:before {
    content: "";
    // z-index: $layer-bottom;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: $height-footercopy;
    background: $c-footer-med;
  }
}

.footer-meta,
.footer-copyright {
  width: $width-full;
  margin: 0 auto;
}

.footer-meta {
  color: $c-footer-med;
  background: $c-footer-light;
  h2 {
    color: $c-footer-dark;
  }
  address {
    font-style: normal;
  }
  a {
    color: $c-accent3;
  }

  & > div {
    width: 25%;
  }

  #newsletter {
    label {
      @include visually-hidden;
    }
    input {
      @include text-input;
    }
    button {
      @include button($c-accent3);
      margin-left: -3px;
    }
  }
}

.footer-copyright {
  color: $c-footer-light;
  background: $c-footer-med;
  a {
    color: inherit;
  }
}

footer {
  .footer-contact {
    display: inline-block;
    vertical-align: top;
    padding: 1em 1em 3em;
  }
}
