/*! Kibera School Project Styles | BSD license */


/*
 * Box-size everything
 *
 * for sanity's sake
 */
.container,
header,
section,
footer,
div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/*
 * Container
 *
 * Wraps the whole page in a centred, 980px box.
 */

.container {
  width: 980px;
  margin: 0 auto;
}

/*
 * Header Element
 *
 * A sticky header at the top of every page
 */

.container > header {
  background: #222;
  color: #ccc;
}

/*
 * Section Elements
 *
 * Individual pages are organized in vertical sections, marked up as sections.
 */

section {
}

/*
 * Video slider
 *
 * The video is 16x9, filling the 980px width container, so it must be
 * 551px tall.
 */

section#home-video {
  position: relative;  /* establish positioning context */
  height: 551px;
  margin: 0;
  border: 0;
}
section#home-video .video-screenshot {
  display: block;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
section#home-video h2 {
  margin: 2em 3em;
}
section#home-video .video-load-play {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 64px;
  width: 64px;
  margin-top: -32px;  /* height / 2 */
  margin-left: -32px;  /* width / 2 */
}
section#home-video .video-copy {
  position: absolute;
  top: 75%;
  width: 50%;
  left: 25%;  /* (100% - width) / 2 */
}

/*
 * Map
 *
 * blah blah bla
 */
section#home-map,
section#school-banner {
  position: relative;  /* establish positioning context */
  padding: 0;
}
section#home-map {
  height: 551px;  /* arbitrarily matched to video height */
}
section#school-banner {
  height: 251px;  /* arbitrary for now */
}
section#home-map .map-controls {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 25%;
}
.map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
section#home-map .map {
  left: 25%;  /* width of .map-controls */
}

.school-overlay {
  position: absolute;
  top: 0;
  left: 4em;
}


/*
 * Footer Element
 *
 * Big footer at the bottom of every page.
 */

footer {
  background: #444;
  color: #ddd;
}


/* =========== Padding =========== */

header {
  padding: 0.5em;
}

section {
  padding: 1em;
}


.footer-blogs,
.footer-contact {
  display: inline-block;
  vertical-align: top;
  padding: 1em 1em 3em;
}
.footer-blogs {
  width: 75%;
}
.footer-blogs > ol > li {
  vertical-align: top;
  display: inline-block;
  width: 32%;
  max-height: 12em;
  overflow: hidden;
}

