/* Kibera School Project sass mixins | Some based on h5bp | BSD license */

@mixin box-sizing($mode) {
  -webkit-box-sizing: $mode;
     -moz-box-sizing: $mode;
       -o-box-sizing: $mode;
          box-sizing: $mode;
}

@mixin border-radius($rad) {
  -webkit-border-radius: $rad;
     -moz-border-radius: $rad;
       -o-border-radius: $rad;
          border-radius: $rad;
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
  & > li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
@mixin visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Stretch backgrounds outside of their containers
 *
 * WARNING:
 *   * alters the element's positioning mode
 *   * hijacks the element's :before pseudo-element
 */
@mixin bg-stretchwidth($colour) {
  position: relative;
  background: $colour;
  &:before {
    content: "";
    position: absolute;
    z-index: $layer-bottom;
    top: 0;
    bottom: 0;
    left: -9999px;
    right: 0;
    border-left: 9999px solid $colour;
    box-shadow: 9999px 0 0 $colour;
  }
}

/*
 * Justifies the last line of justified text
 *
 * http://stackoverflow.com/a/6637398
 *
 * WARNING:
 *    * hijacks the :after pseudo-element
 *    * will probably add space below
 */
@mixin line-justify {
  text-align: justify;
  text-align-last: justify;
  &:after {
    content: "";
    display: inline-block;
    width: 100%;
  }
}

@mixin accent-box {
  @include box-sizing(border-box);
  display: block;
  width: $width-accent-box;
  height: $height-accent-box;
  padding: $pad-v-thin $pad-h-thin;
  font-size: 18px;
  color: $c-bright;
  background: $c-accent;
  border-radius: 0 0 3px 3px;
  h1,
  h2 {
    font-size: 19px;
    font-weight: $t-mheavy;
  }
  h2 {
    margin: 0;
    line-height: ($height-accent-box - $pad-v-thin * 2 - 6px);
  }
}

@mixin _form-common {
  @include box-sizing(border-box);
  @include border-radius($radius-rounded);
  display: inline-block;
  height: $line-form;
  line-height: $line-form;
  padding-top: 0;
  padding-bottom: 0;
}

@mixin text-input {
  @include _form-common;
  padding-left: $pad-h-thin;
  padding-right: $pad-h-thin;
  color: $c-med;
  background: $c-bright;
  border: 2px solid #ddd;
}

@mixin button($bg) {
  @include _form-common;
  padding-left: $pad-h;
  padding-right: $pad-h;
  color: $c-bright;
  background: $bg;
  border: none;
}
