/*! Open Schools Kenya Styles | BSD license */

/*
 * Header Element
 *
 * A sticky header at the top of every page
 */

#page-header {
  @include bg-stretchwidth($c-bg);
  z-index: $layer-top;
  position: fixed;
  top: 0;
  left: 50%;
  width: $width-full;
  margin-left: -$width-full / 2;
  height: $height-stickyhead;
  font-size: $t-small;
  color: $c-header-med;
  border-bottom:$b-outline;

  nav {
    a.accent {
      @include accent-box;
      display: inline-block;
      margin-top: -3px;
      h1 {
        margin: 5px 0 0;
        font-size: $t-mbig;
        font-weight: $t-mheavy;
      }
    }
  }

  a {
    color: inherit;
    &:hover {
      color: $c-dark;
    }
  }

  .page-nav-links {
    @include list-reset;
    display: inline-block;
    vertical-align: top;
    li,
    li > a {
      display: inline-block;
    }
  }

  .page-nav-links a {
    margin: 0 0 0 $pad-h-gap;
    padding: $pad-v-thin $pad-h / 1.618;
    &:before {
      @include icofont;
      content: ",";  // default gear icon
      display: inline-block;
      margin-right: $pad-h-gap * 3;
      font-size: $t-med;
      vertical-align: middle;
    }
    &.selected {
      color: $c-copy;
      &:before {
        color: $c-accent;
      }
    }
    &[href="/#videos"]:before {
      content: "p";
    }
    &[href="/#map"]:before,
    &[href="/#school-map"]:before {
      content: "w";
    }
    &[href="/#charts"]:before,
    &[href="/#school-blurbs"]:before {
      content: "O";
    }
    &[href="/#stories"]:before {
      content: "b";
    }
    &[href="/blog/#blog-posts"]:before {
      content: "B";
    }
  }

  .social {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }

  li.beta {
    font-family: 'Lato';
    position: relative;
    top: -4px;
    vertical-align: top;
    margin-right: $pad-v;
    padding: 0 $pad-h-thin;
    line-height: $t-mbig;
    color: $c-bg;
    background: $c-accent2;
    border-width: 0;
    border-radius: 3px;
  }

}

/*
 * link back to the main map from the school profile
 */
.back-to-schools-map {
  color: white;
  background: $c-accent;
  padding: 0 $pad-h-gap;
  border-radius: 3px;
  &:hover {
    background: darken($c-accent, 10%);
  }
  &:before {
    @include icofont;
    content: "<";  // back icon
    display: inline-block;
  }
  span {
    @include visually-hidden;
  }
}


/*
 * General Social Rules
 */
.social {
  @include list-reset;
  @include icofont;
  display: inline-block;
  vertical-align: top;
  font-size: 0;
  li,
  li > a {
    display: inline-block;
  }
  li {
    font-size: $t-base;
    margin: $pad-v-thin $pad-h-gap / 2;
  }
  a {
    // hide the actual text (it's replaced by the icon)
    @include visually-hidden;
    $size: $t-base;
    position: relative;
    vertical-align: baseline;
    margin: 0;  // override visually-hidden
    font-size: $size;
    height: $size;
    width: $size;
  }
}


body > section:first-of-type {
  margin: $pad-v + $height-stickyhead auto 1px;
}


/*
 * Video slider
 *
 */
.videos-slider {
  @include list-reset;

  li {
    @include visually-hidden;
    opacity: 0.2;

    &.selected {
      @include un-visually-hidden;
      @include transition(opacity, 0.8s, ease);
      width: $width-full;
      margin: 0 auto;
      opacity: 1;
    }
  }

  .video {
    @include box-sizing(content-box);
    position: relative; // positioning context for gradient overlay
    display: block;
    float: left;
    margin-right: $pad-v;

    &,
    & .video-screenshot {
      $width-v: $width-full / 2;
      width: $width-v;
    }
    &:before {
      content: "";
      display: block;
      z-index: $layer-high;
      position: absolute;
      top: 0;
      left: 0;
      right: 50%;
      bottom: 0;
    }
  }
  .activated .video:before {
    display: none;
  }

  .video-meta {
    margin-top: -1px;  // respect contents' top margin
    padding-top: 1px;
    font-size: $t-med;
    color: $c-dark;
    line-height:$line-base;
    margin:0 $pad-v;

    h2 {
      margin: -0.15em 0 0 0; 
      font-size: $t-vbig;
      color: $c-dark;
    }
  }
}
.videos-pager {
  @include list-reset;
  margin: $pad-v-thin / 1.4 0;
  font-size: 0;  // hide text; TODO: make this more accessible
  text-align: center;

  li {
    display: inline-block;
    a {
      @include box-sizing(border-box);
      display: block;
      margin: $pad-v-thin $pad-h-thin / 5;
      height: $t-base * 0.9;
      width: $t-base * 0.9;
      border-radius: $t-base / 2;
      background: $c-outline;
      &:hover {
        background: $c-bright;
      }
      &.selected {
        background: $c-accent2;
      }
    }
  }
}


/*
 * School Profile Title
 *
 * Name of school and any images available.
 */
section#school-top {
  width: $width-full;
  margin-bottom: $pad-v-thin;
  h1 {
    font-size: $t-med;
    color: $c-accent2;
  }
  #school-photos-frame {
    $photo-space: $pad-h / 1.618;
    $control-space: $pad-h-thin * 1.618;
    position: relative;  // positioning context for prev/next controls
    height: $height-school-photo;
    width: $width-full;
    ul {
      @include list-reset;
      height: $height-school-photo;
      width: $width-full;
      overflow: hidden;

      li {
        display: inline-block;
        margin-right: $photo-space;
      }
      img {
        @include box-sizing(border-box);
        height: $height-school-photo;
        border-radius: 3px;
        // border: 3px solid $c-outline;
      }
    }
    #school-photos-prev,
    #school-photos-next {
      display: block;
      position: absolute;
      top: 50%;
      height: 0;
      width: 0;
      margin-top: -$height-frame-prevnext / 2;
      font-size: 0;
      border: 0 solid transparent;
      border-width: $height-frame-prevnext/2 $width-frame-prevnext;
    }
    #school-photos-prev {
      left: -($width-frame-prevnext + $control-space);
      border-left-width: 0;
      border-right-color: $c-outline;
    }
    #school-photos-next {
      right: -($width-frame-prevnext + $control-space);
      border-right-width: 0;
      border-left-color: $c-outline;
    }
  }
}


/*
 * Map
 *
 */
.map-controls {
  z-index: $layer-mhigh;
  position: relative;  // for stacking
  width: $width-full;
  height: $height-map-controls;
  margin: 0 auto;
  line-height: $height-map-controls - 1px;

  /*
   * Scrollbars ... webkit only :(
   */
  ::-webkit-scrollbar {
    width: 18px;
  }
  ::-webkit-scrollbar-track {
    padding: 3px;
    background: #222;
  }
  ::-webkit-scrollbar-thumb {
    display: block;
    width: 10px;
    background: $c-accent2;
    border: 2px solid #222;
    border-width: 4px 1px;
    border-color: $c-accent2 #222;
    border-radius: 3px;
  }
  p {
    display:inline-block;
    line-height: $height-map-controls;
    margin: 0 $pad-h 0 0;
    color:$c-med;
  }
  a {
    color: inherit;
    &:hover {
      color: $c-dark;
    }
  }
  .controls {
    &,
    ul,
    li {
      display: inline-block;
      vertical-align: top;
    }
  } 
  .controls {
    @include list-reset;
    // font-size: 0;

    & > li {
      position: relative;
      & > .activate {  // should probably be a header
        @include box-sizing(border-box);
        z-index: $layer-high;
        position: relative;
        display: inline-block;
        height: $height-map-controls;
        min-width: $width-map-control;
        padding: 0 $pad-h 0 $pad-h-thin;
        font-size: $t-base;
        &:before {
          @include icofont;
          content: ",";  // default gear icon
          display: inline-block;
          margin-right: $pad-h-thin / 1.5;
          font-size: $t-small;
          vertical-align: middle;
        }
        &:hover,
        &:active,
        &:focus {
          color: $c-dark;
          background: $c-bg;
        }
      }
      &.active > .activate {
        color: $c-accent2;
        background: lighten($c-bg, 20%);
      }
      & > .map-control-dropdown {
        @include visually-hidden;
      }
      &.active > .map-control-dropdown {
        @include un-visually-hidden;
        font-size: $t-small;
        line-height: $line-tight;
        z-index:$layer-high;
      }
    }
  }
  .map-social {
    float: right;
    h3 {
      @include visually-hidden;
    }
  }
}
@mixin control-input {
  @include _form-common;
  display: block;
  font-size: $t-msmall;
  color: $c-bright;
  background: $c-smokeglass;
  border: 1px solid $c-outline;
  border-radius: 0;
}
.map-controls .controls > li {

  .clear-filter {
    display: none;
  }

  &.filtering {
    & > .activate {
      color: $c-accent2;
    }
    .clear-filter {
      z-index: 600;
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      height: $height-map-controls;
      width: $pad-h;
      background: $c-accent2;
      color: $c-bright;
      text-align: center;
    }
  }
}
.map-controls .controls > li.active {
  & > .map-control-dropdown {
    $w = $width-map-control * 1;
    position: absolute;
    top: $height-map-controls;
    left: 0;
    width: $w;
    li.cursored a {
      color: $c-accent2;
      background: darken($c-smokeglass, 10%);
    }
    li.selected a {
      color: $c-copy-dark;
      background: $c-accent2;
    }
    ul {
      @include list-reset;
      width: 100%;
      max-height: 432px;
      overflow-y: auto;
      overflow-x: hidden;
      li {
        display: block;
      }
    }
    input {
      @include control-input;
      width: 100%;
      padding-left: $pad-h-thin / 1.618;
      padding-right: $pad-h-thin / 1.618;
      border: none;
      border-bottom: 1px solid $c-outline;
      &:hover {
        background: lighten($c-smokeglass, 10%);
      }
    }
    a {
      display: block;
      padding: ($pad-v-thin / 2.5) ($pad-h / 1.618);
      color: $c-bright;
      background: $c-smokeglass;
    }
  }
}
#schools > a:before {
  content: "h";
}
#filters > a:before {
  content: "=";
}
#data > a:before {
  content: ",";
}
#search > a:before {
  content: "S";
}
#map-main > a:before {
  content: "R";
}
.leaflet-container {
  font: inherit;
  .leaflet-control-zoom {
    margin-left: 0;
  }
  .leaflet-left {
    left: 50%;
    margin-left: -$width-full/2
  }
  .leaflet-popup-content-wrapper,
  .leaflet-popup-tip {
    background: $c-smokeglass
  }
  .leaflet-popup {
    color: $c-bright;
    a {
      color: $c-accent2;
      &.leaflet-popup-close-button {
        color: $c-med;
        &:hover {
          color: $c-accent;
        }
      }
    }
    h3 {
      margin: 0;
      font-size: $t-base;
      font-weight: $t-mheavy;
    }
    p {
      margin: 0.333em 0;
      font-size: $t-small;
    }
  }
}
.leaflet-fade-anim .leaflet-popup {
-webkit-transition: opacity 0.1s linear;
   -moz-transition: opacity 0.1s linear;
     -o-transition: opacity 0.1s linear;
        transition: opacity 0.1s linear;
}
.leaflet-zoom-anim .leaflet-zoom-animated {
  -webkit-transition: -webkit-transform .25s cubic-bezier(0, 0, 0.33, 1);
     -moz-transition:    -moz-transform .25s cubic-bezier(0, 0, 0.33, 1);
       -o-transition:      -o-transform .25s cubic-bezier(0, 0, 0.33, 1);
          transition:         transform .25s cubic-bezier(0, 0, 0.33, 1);
}
.map {
  height: $height-map;
  color: $c-med;
  background: $c-footer-med;  // might flash while loading
}
#school-map {
  .map-controls {
    @include bg-stretchwidth($c-control-bg);
    padding-left: ($width-accent-box + 3px) / 2;
    .social {
      float: right;
      margin-top: 13px;
    }
  }
  .map {
    height: $height-map-small;
  }
}


/*
 * School profile quick description below map
 */

.school-info-tabs {
  .data-source-tab {
    display: inline-block;
    &.empty a {
      color: darken($c-med, 10%);
      border-color: $c-med;
    }
  }
  h2 {
    display: inline-block;
    margin: 0;
    line-height: 1;
    a {
      padding: 0.1em 0.4em;
      margin: 0 $pad-h-gap;
      color: inherit;
      background: white;
      border: 1px solid $c-accent;
      border-width: 1px 1px 0;
      border-radius: 3px 3px 0 0;
      &:hover {
        color: $c-accent
      }
      &.selected {
        color: white;
        background: $c-accent;
      }
    }
  }
}

.school-info-data {
  border: 1px solid $c-accent;
  border-width: 2px 1px 1px;
  border-color: $c-accent #e9e9e9 #e9e9e9;
  background: white;
  .data-source-data {
    padding: $pad-v-thin $pad-h-thin;
    &:not(.selected) {
      @include visually-hidden;
    }
  }
  h3 {
    color: $c-accent;
  }
  th {
    white-space: nowrap;
  }
  th,
  td {
    padding: 0 $pad-h-thin;
  }
}

.h-scroll-container {
  width: 100%;
  overflow-x: auto;
}

#school-blurbs,
#school-feedback {
  padding: $pad-v 0;
  color: $c-copy-dark;
}

#school-blurbs {
  @include bg-stretchwidth($c-bright);
  width: $width-full;
  margin: 0 auto;
}

#school-feedback {
  background: $c-bright;
  border-bottom: 1px solid darken($c-bright, 18%);
  .comments {
    width: $width-full;
    margin: 0 auto;
  }
}


/*
 * Highlighted School
 *
 * Charts and stuff
 */
#stats {
  z-index: $layer-norm;
  position: absolute;
  left: 50%;
  margin: -($height-map - $pad-v) ($width-full/2 - $width-accent-box) 0;
  width: $width-accent-box;
  padding: $pad-v-thin;
  background: $c-bg;
  border: 1px solid $c-accent;
  h2 {
    margin-top: 0;
  }
  h3 {
    font-weight: $t-light;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .bignum {
    font-weight: $t-heavy;
    color: $c-accent;
  }
}


/*
 * Story Tiles
 *
 * Big blocks on the home page
 */
#stories {
  padding: $pad-v 0;
  & > ul {
    @include list-reset;
    width: $width-full;
    margin: 0 auto;
    font-size: 0;  // WARNING! vv see li rule vv
    text-align: center;

    & > li {
      $box-width: $width-full / 2;
      display: inline-block;
      width: $box-width;
      margin: $pad-v $pad-h;
      font-size: $t-med;  // END WARNING.

      h1 {
        margin: 0;
        padding:$pad-v 0;
      }
      img {
        padding:$pad-v 0;
      }
      p {
        line-height: $line-base;
        margin:$pad-v;
      }
      a {
        padding:$pad-v-thin;
        font-size:$t-small;
        color:$c-accent;
        border:1px solid $c-accent;
      }
      a:hover {
        color:$c-bright;
        background:$c-accent;
      }
    }
  }
}


#blog-header {
  width: $width-full;
  margin-left: auto;
  margin-right: auto;  // don't change top margin
  padding-bottom: 1em;
  h1 {
    margin: 0.25em 0;
    font-size: $t-big;
    font-weight: $t-light;
    color: $c-accent2;
  }
  p {
    margin: 0;
    font-size: 1.2em;
    color: $c-bright;
  }
}

.blog-post {
  width: $width-full;
  margin: 1em auto;

  a {
    color: $c-accent2;
  }
  header {
    h1 {
      font-size: 1.25em;
      margin: 0 0 0.25em;
      p {
        margin: 0;
      }
      a {
        color: $c-dark;
      }
    }
    p {
      color: $c-dark;
    }
    strong {
      font-weight: $t-light;
      color: $c-dark;
    }
  }
  footer {
    font-size: $t-small;
    background: $c-bg;
  }
}

.share {
  margin-top: 0.5em;
  .twitter-share-button {
    vertical-align: top;
  }
  .fb-like > span {
    vertical-align: top !important;
  }
}

#blog-posts {
  padding-top: 62px;
  margin-top: 0px;
}
#blog-posts .blog-post {
  $w: ($width-full - $pad-v-thin)/3;
  padding: 2em 1em;
  .post-content {
    width: $width-full - $w;
    margin-top:-20px;
    header {
      margin-top:-$pad-v;
    }
  }
  & > img:first-child {
    width: $w;
    float: left;
    & ~ * {  // duuuuuuuude
      margin-left: $w + $pad-v;
    }
  }
}
#one-blog-post .blog-post {
  padding: 1em 0 3em;
  .teaser {
    height: $height-map-small/2;
    opacity:0.2;
  }
  header {
    height: $height-map-small/2;
    margin-top:- $height-map-small/2;
    padding:$pad-v-thin;
    text-align: center;
    h1 {
      margin: 0.25em 0;
      font-size: $t-big;
      font-weight: $t-light;
      color: $c-accent2;
    }
  }
  .post-content {
    $w: ($width-full - $pad-v-thin)/2;
    width: $w;
    margin:0 $w/2;
    padding:$pad-v;
    img {
      padding:$pad-v-thin 0;
      width:100%;
    }
  }
}

/*
 * Footer Element
 *
 * Big footer at the bottom of every page.
 */

.footer-meta,
.footer-copyright {
  width: $width-full;
  margin: 0 auto;
}

.footer-meta {
  @include bg-stretchwidth($c-footer-light);
  padding: $pad-v-big 0 $pad-v;
  font-size: 0;  // WATCH OUT (reset in next-leve divs)
  font-weight: $t-light;
  color: $c-dark;

  h2 {
    margin-top: 0;
    font-size: 1.4em;
    color: $c-dark;
  }
  a {
    color: $c-accent;
  }

  & > div {
    display: inline-block;
    vertical-align: top;
    width: ($width-full / 4) - ($pad-h-thin * 3 / 4);
    margin-right: $pad-h-thin;
    font-size: $t-msmall;
    &:last-child {
      margin-right: 0;
    }
  }

  // twitter feed
  .twitter-timeline {
    margin-top: -12px;  // undo padding of first tweet
  }

  #get-in-touch {
    address {
      font-style: normal;
    }
    dt,
    dd {
      margin-top: $pad-v-thin / 1.618;
    }
    dt:first-child,
    dt:first-child + dd {
      margin-top: 0;
    }
    dt {
      float: left;
      clear: left;
      &:after {
        content: ":";
      }
    }
    dd {
      margin-left: $pad-h-gap * 2;
      display: inline-block;
    }
  }

  #newsletter {
    $col = ($width-full / 4) - $pad-h-thin;
    label {
      @include visually-hidden;
    }
    input {
      @include text-input;
      width: $col * 0.667;
    }
    button {
      @include button($c-accent3);
      width: $col * 0.333 + $pad-h-gap;
      margin-left: -$pad-h-gap;
      text-align: center;
    }
  }
}

.footer-copyright {
  @include bg-stretchwidth($c-footer-med);
  @include line-justify;
  $fp: $pad-v * 0.76;
  font-size: $t-base;
  padding: $fp 0 ($fp - $line-footer-copyright);
  line-height: $line-footer-copyright;
  color: $c-footer-light;
  a {
    color: inherit;
    &:hover {
      color: $c-accent;
    }
    img {
      padding-right:10px;
    }
  }
  .credits {
    color:$c-copy;
  }
}

#error-container {
  width: $width-full;
  margin: 7% auto 11%;
}

#data-overview {
  width: $width-full;
  padding-top: 62px;
  margin-top: 0px;
}



.org-credits {
  text-align: center;
  img {
    margin: 0 1em;
    //opacity: 0.333;
    //transition: opacity 0.667s ease;
    &:hover {
      opacity: 1;
      transition: none;
    }
  }
}



.data-all {

  margin: $pad-v;

  h3 {
    margin: 0 0 0.5em;
  }
  td {
    vertical-align: top;
  }
}

.data {
  th {
    text-align: right;
  }
  thead th {
    text-align: left;
  }
  td {
    vertical-align: middle;
    width: 33%;
  }
}
