/*! Kibera School Project Styles | BSD license */

/*
 * Type
 */
section#home-video {
  text-align: center;
}
section#home-video h2 {
  font-size: 2em;
  text-shadow: 0 0 0.3em rgba(255, 255, 255, 0.4);
}
section#home-video .video-copy {
  font-size: 1.25em;
  font-weight: bold;
}

/*
 * Colours
 */
footer a {
  color: inherit;
}
section#home-video {
  color: #444;
}
section#home-video .video-load-play {
  background: url('../img/button-play.png');
  opacity: 0.8;
}
section#home-video .video-load-play:hover {
  opacity: 1;
}
footer {
  background: #333;
  color: #ddd;
}

/*
 * Borders
 */
section,
section#home-map .map-controls,
section#home-map a {
  border: 1px solid #ccc;
}
.container > section {
  border-width: 0 1px 1px;  /* no top border */
}
section#home-map .map-controls {
  border-width: 0 1px 0 0;  /* right border only */
}
section#home-map a {
  border-width: 0 0 1px;  /* bottom only */
}
.container > section:last-of-type,
section#home-map li:last-of-type a {
  border-bottom-width: 0;  /* no border before the footer */
}

/*
 * Map with controls
 */
section#home-map .map-controls {
  background: #ddd;
  color: #555;
  text-transform: uppercase;
}
section#home-map .map-controls header {
  padding: 1.5em 1.5em 1.5em 4em;
}
section#home-map .map-controls header h2,
section#home-map .map-controls header p {
  margin: 0;
}
section#home-map .map-controls header h2 {
  font-size: 1.5em;
}
section#home-map .map-controls header p {
  font-size: 0.7em;
}
section#home-map .map-controls h3,
section#home-map .map-controls li a {
  display: block;
  margin: 0;
  padding: 0.5em 0.5em 0.5em 4em;
  font-size: 1em;
}
section#home-map .map-controls ul,
section#home-map .map-controls li {
  list-style: none;
  margin: 0;
  padding: 0;
}
section#home-map .map-controls h3 {
  background: #999;
  color: white;
}
section#home-map .map-controls a {
  color: inherit;
  text-decoration: none;
  background: url('../img/icon-circle.png') 2em 50% no-repeat;
}
section#home-map .map-controls a:hover {
  color: #fff;
  background-color: #777;
}

/*
 * Footer
 *
 * Recent blogs, contact, etc.
 */
footer {
  font-size: 0.8em;
}
footer h2 {
  color: #999;
  text-transform: lowercase;
}
.footer-blogs > ol,
.footer-blogs > ol > li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer-blogs h3,
.footer-blogs p {
  font: inherit;
  display: inline;
}
.footer-blogs h3 a {
  color: #999;
  font-weight: bold;
  text-decoration: none;
}
.footer-blogs h3 a:hover {
  color: #ddd;
  text-decoration: underline;
}
.footer-contact address {
  font-style: normal;
}

