/*! Kibera School Project Styles | BSD license */

/*
 * Header Element
 *
 * A sticky header at the top of every page
 */

#page-header {
  @include bg-stretchwidth($c-header-bg);
  position: fixed;
  z-index: $layer-top;
  top: 0;
  left: 50%;
  width: $width-full;
  margin-left: -$width-full / 2;
  height: $height-stickyhead;
  padding: $pad-v $pad-h-thin;

  font-size: $t-small;
  line-height: $line-stickyhead;
  color: $c-header-med;

  &.text-reset strong,
  h3 {
    font-weight: $t-heavy;
    color: $c-header-bright;
  }

  h1 {
    margin-right: $pad-h;
  }

  a {
    color: inherit;
  }

  .header-social-links {
    float: right;
  }

}


/*
 * Video slider
 *
 */

section#home-video {
  margin-top: $height-stickyhead;
  padding-top: $pad-v-big;  // bit extra for the shadow
  padding-bottom: 0;  // pager margin takes care of it
}

.videos-slider {
  @include list-reset;

  .video {
    @include box-sizing(content-box);
    display: block;
    float: left;
    margin-right: $pad-h;
    padding: $pad-border;
    border: $b-outline;

    &,
    & .video-screenshot {
      height: $height-vid;
      width: $width-vid;
    }
  }

  .video-meta {
    margin-top: -1px;  // respect contents' top margin
    padding-top: 1px;
  }
}
.videos-pager {
  @include list-reset;
  margin: $pad-v 0;
  font-size: 0;  // hide text; TODO: make this more accessible
  text-align: center;

  li {
    display: inline-block;
    a {
      @include box-sizing(border-box);
      display: block;
      margin: $pad-v-thin $pad-h-thin / 2;
      height: $t-base;
      width: $t-base;
      border-radius: $t-base / 2;
      background: $c-outline;
      &:hover {
        background: $c-bright;
      }
      &.selected {
        background: $c-accent2;
      }
    }
  }
}

/*
 * Map
 *
 * blah blah bla
 */
section#home-map {
  border-top: $b-outline;
}
.map-controls {
  h2 {
    @include accent-box;
  }
  .social {
    ul {
      @include list-reset;
    }
  }
}
.map {
  height: 512px;
  background: $c-footer-med;  // might flash while loading
}


/*
 * Story Tiles
 *
 * Big blocks on the home page
 */
#stories {
  padding: $pad-v 0;
  h2 {
    @include visually-hidden;
  }
  & > ul {
    @include list-reset;
    width: $width-full;
    margin: 0 auto;
    font-size: 0;  // WARNING! vv see li rule vv
    & > li {
      $box-width: ($width-full / 2) - ($pad-h * 2);
      display: inline-block;
      width: $box-width;
      margin: 0 0 $pad-v $pad-h;
      font-size: $t-small;  // END WARNING.
      text-align: center;
      background: $c-accent;
      border: 1px solid $c-med;

      .smokeglass {
        margin: ($pad-v * 2) ($pad-h * 2);
        padding: $pad-v-thin $pad-h;
        background: $c-smokeglass;
        border: 1px solid $c-brightglass;

        h3 {
          margin: 0;
        }
        p {
          margin: 0 $pad-v-thin;
          font-style: italic;
          line-height: $line-tight;
        }
        .button {
          margin: $pad-v-thin 0 0;
          text-transform: uppercase;
          border: 1px solid $c-bright;
          border-radius: 0;
        }
      }
    }
  }
}


/*
 * Footer Element
 *
 * Big footer at the bottom of every page.
 */

.footer-meta,
.footer-copyright {
  width: $width-full;
  margin: 0 auto;
}

.footer-meta {
  @include bg-stretchwidth($c-footer-light);
  padding: $pad-v-big 0;
  font-size: 0;  // WATCH OUT (reset in next-leve divs)
  color: $c-footer-med;

  h2 {
    margin-top: 0;
    color: $c-footer-dark;
  }
  a {
    color: $c-accent3;
  }

  & > div {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    font-size: $t-base;
  }

  #contact {
    address {
      font-style: normal;
    }
    dt {
      font-weight: bold;
    }
  }

  #newsletter {
    label {
      @include visually-hidden;
    }
    input {
      @include text-input;
    }
    button {
      @include button($c-accent3);
      margin-left: -3px;
    }
  }
}

.footer-copyright {
  @include bg-stretchwidth($c-footer-med);
  @include line-justify;
  font-size: $t-base;
  padding: $pad-v 0 ($pad-v - $line-footer-copyright);
  line-height: $line-footer-copyright;
  color: $c-footer-light;
  a {
    color: inherit;
  }
  #copyright {
    display: inline-block;
  }
  ul {
    @include list-reset;
    display: inline-block;
    li {
      display: inline-block;
    }
  }
}
