/*! Kibera School Project Styles | BSD license */

/*
 * Header Element
 *
 * A sticky header at the top of every page
 */

#page-header {
  height: $height-stickyhead;
  font-size: $t-small;
  color: $c-header-med;

  nav {
    display: block;
    position: fixed;
    z-index: $layer-top;
    top: 0;
    left: 50%;
    width: $width-full;
    margin-left: -$width-full / 2;

    a.accent {
      @include accent-box;
      display: inline-block;
      margin-top: -3px;
      small {
        display: block;
        margin: -0.4em 0;
        font-size: $t-small;
        font-weight: normal;
        color: $c-copy;
      }
      h1 {
        margin: 0;
        font-weight: $t-mheavy;
      }
    }
  }

  a {
    color: inherit;
  }

  .page-nav-links,
  .social {
    @include list-reset;
    display: inline-block;
    vertical-align: top;
    li,
    li > a {
      display: inline-block;
    }
  }

  .page-nav-links a {
    margin: 0 0 0 $pad-h-gap;
    padding: $pad-v-thin $pad-h / 1.618;
    background: $c-bg;
    border: 1px solid $c-footer-dark;
    border-top-width: 0;
    &:before {
      content: "ico "
    }
    &.selected {
      color: $c-accent;
    }

    span {
      @include visually-hidden;
    }
    &.selected span {
      @include un-visually-hidden;
    }
  }

  .beta a {
    margin-right: $pad-v;
    padding: 0 $pad-v-thin;
    color: $c-bg;
    background: $c-accent2;
    border-width: 0;
    border-radius: 3px;
  }

  .social {
    display: block;
    width: $width-full;
    margin: 0 auto;
    text-align: right;
    li {
      margin: $pad-v-thin $pad-h-gap;
    }
  }

}


/*
 * Video slider
 *
 */

section#videos {
  margin-top: $pad-v;
  padding-bottom: 1px;  // pager margin takes care of it
}

.videos-slider {
  @include list-reset;

  li {
    @include visually-hidden;
    opacity: 0.2;

    &.selected {
      @include un-visually-hidden;
      @include transition(opacity, 0.8s, ease);
      width: $width-full;
      margin: 0 auto;
      opacity: 1;
    }
  }

  .video {
    @include box-sizing(content-box);
    position: relative; // positioning context for gradient overlay
    display: block;
    float: left;
    margin-right: $pad-h-thin;

    &,
    & .video-screenshot {
      $width-v: $width-full / 2;
      width: $width-v;
      height: $width-v * 9 / 16;
    }
    &:before {
      content: "";
      display: block;
      z-index: $layer-high;
      position: absolute;
      top: 0;
      left: 0;
      right: 50%;
      bottom: 0;
      @include horizontal-gradient($c-bg, rgba(0, 0, 0, 0));
    }
  }
  .activated .video:before {
    display: none;
  }

  .video-meta {
    margin-top: -1px;  // respect contents' top margin
    padding-top: 1px;
    font-size: $t-med;
    color: $c-t-med;

    h2 {
      margin: -0.15em 0 0 0; 
      font-size: $t-big;
      font-weight: $t-mheavy;
      line-height: 1em;
      color: $c-copy;
    }
  }
}
.videos-pager {
  @include list-reset;
  margin: $pad-v-thin / 1.4 0;
  font-size: 0;  // hide text; TODO: make this more accessible
  text-align: center;

  li {
    display: inline-block;
    a {
      @include box-sizing(border-box);
      display: block;
      margin: $pad-v-thin $pad-h-thin / 5;
      height: $t-base * 0.9;
      width: $t-base * 0.9;
      border-radius: $t-base / 2;
      background: $c-outline;
      &:hover {
        background: $c-bright;
      }
      &.selected {
        background: $c-accent2;
      }
    }
  }
}

/*
 * Map
 *
 * blah blah bla
 */
section#map {
  border-top: $b-outline;
}
.map-controls {
  z-index: $layer-high;
  position: relative;  // for stacking
  width: $width-full;
  height: $height-map-controls;
  margin: 0 auto;
  line-height: $height-map-controls - 1px;

  /*
   * Scrollbars ... webkit only :(
   */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    padding: 3px;
    background: $c-smokeglass;
  }
  ::-webkit-scrollbar-thumb {
    display: block;
    width: 10px;
    background: $c-footer-med;
    border-radius: 10px;
  }

  a {
    color: $c-med;
    &:hover {
      color: $c-bright;
    }
  }
  .controls,
  .social {
    &,
    ul,
    li {
      display: inline-block;
      vertical-align: top;
    }
  }
  .accent {
    @include accent-box;
    display: inline-block;
    margin-top: -1px;
  }
  .controls {
    @include list-reset;
    font-size: 0;

    & > li {
      position: relative;
      & > a {  // should probably be a header
        @include box-sizing(border-box);
        z-index: $layer-high;
        position: relative;
        display: inline-block;
        height: $height-map-controls;
        width: $width-map-control;
        padding: 0 $pad-h-thin;
        font-size: $t-base;
        border-right: 1px solid $c-outline;
        &:before {
          content: "icon "
        }
        &:hover {
          color: $c-bright;
          background: lighten($c-bg, 20%);
        }
      }
      &.active > a {
        color: $c-accent2;
      }
      & > .map-inputs {
        @include visually-hidden;
      }
      &.active > .map-inputs {
        @include un-visually-hidden;
        font-size: $t-small - 1px;
        line-height: $line-tight;
        background: $c-smokeglass;
      }

      &.active > .school-list {
        $w = $width-map-control * 1.75;
        position: absolute;
        top: $height-map-controls;
        left: 0;
        width: $w;
        ul {
          @include list-reset;
          max-height: 432px;
          overflow-y: auto;
          overflow-x: hidden;
          li {
            display: block;
          }
        }
        input {
          @include text-input;
          display: block;
          width: 100%;
          font-size: $t-msmall;
          color: $c-bright;
          background: $c-smokeglass;
          border: none;
          border-bottom: 1px solid $c-outline;
          &:hover {
            background: lighten($c-smokeglass, 10%);
          }
        }
        a {
          display: block;
          padding: ($pad-v-thin / 2.5) ($pad-h / 1.618);
          color: $c-copy;
          background: $c-smokeglass;
          &:hover {
            color: $c-accent2;
            background: darken($c-smokeglass, 10%);
          }
        }
      }
    }
  }
  .social {
    float: right;
    h3 {
      @include visually-hidden;
    }
    ul {
      @include list-reset;
    }
  }
}
.map {
  height: 508px;
  background: $c-footer-med;  // might flash while loading
}

/*
 * Highlighted School
 *
 * Charts and stuff
 */
#charts {
  width: $width-full;
  margin: 0 auto;
  padding: $pad-v 0;
}


/*
 * Story Tiles
 *
 * Big blocks on the home page
 */
#stories {
  padding: $pad-v 0;
  h2 {
    @include visually-hidden;
  }
  & > ul {
    @include list-reset;
    width: $width-full;
    margin: 0 auto;
    font-size: 0;  // WARNING! vv see li rule vv
    & > li {
      $box-width: ($width-full / 2) - ($pad-h * 2);
      display: inline-block;
      width: $box-width;
      margin: 0 0 $pad-v $pad-h;
      font-size: $t-small;  // END WARNING.
      text-align: center;
      background: $c-accent2;
      border: 1px solid $c-med;

      .smokeglass {
        margin: ($pad-v * 2) ($pad-h * 2);
        padding: $pad-v-thin $pad-h;
        background: $c-smokeglass;
        border: 1px solid $c-brightglass;

        h3 {
          margin: 0;
        }
        p {
          margin: 0 $pad-v-thin;
          font-style: italic;
          line-height: $line-tight;
        }
        .button {
          margin: $pad-v-thin 0 0;
          text-transform: uppercase;
          border: 1px solid $c-bright;
          border-radius: 0;
        }
      }
    }
  }
}


/*
 * Footer Element
 *
 * Big footer at the bottom of every page.
 */

.footer-meta,
.footer-copyright {
  width: $width-full;
  margin: 0 auto;
}

.footer-meta {
  @include bg-stretchwidth($c-footer-light);
  padding: $pad-v-big 0 ($pad-v-big - 3px);
  font-size: 0;  // WATCH OUT (reset in next-leve divs)
  color: $c-footer-med;

  h2 {
    margin-top: 0;
    font-size: 1.4em;
    color: $c-footer-dark;
  }
  a {
    color: $c-accent3;
  }

  & > div {
    display: inline-block;
    vertical-align: top;
    width: ($width-full / 4) - ($pad-h-thin * 3 / 4);
    margin-right: $pad-h-thin;
    font-size: $t-msmall;
    &:last-child {
      margin-right: 0;
    }
  }

  #get-in-touch {
    address {
      font-style: normal;
    }
    dt,
    dd {
      margin-top: $pad-v-thin / 1.618;
    }
    dt:first-child,
    dt:first-child + dd {
      margin-top: 0;
    }
    dt {
      float: left;
      clear: left;
      font-weight: $t-mheavy;
      &:after {
        content: ":";
      }
    }
    dd {
      margin-left: $pad-h-gap * 2;
      display: inline-block;
    }
  }

  #newsletter {
    $col = ($width-full / 4) - $pad-h-thin;
    label {
      @include visually-hidden;
    }
    input {
      @include text-input;
      width: $col * 0.667;
    }
    button {
      @include button($c-accent3);
      width: $col * 0.333 + $pad-h-gap;
      margin-left: -$pad-h-gap;
      text-align: center;
    }
  }
}

.footer-copyright {
  @include bg-stretchwidth($c-footer-med);
  @include line-justify;
  $fp: $pad-v * 0.76;
  font-size: $t-base;
  padding: $fp 0 ($fp - $line-footer-copyright);
  line-height: $line-footer-copyright;
  color: $c-footer-light;
  a {
    color: inherit;
  }
  #copyright {
    display: inline-block;
  }
  ul {
    @include list-reset;
    display: inline-block;
    li {
      display: inline-block;
    }
  }
}
