/*! Kibera Schools variables | BSD License, see LICENSE */

/////// TEXT ///////

$t-base: 16px;
$t-big: 32px;
$t-mbig: 24px;
$t-small: 13px;
$t-heavy: 900;

$form-line: 2.4em;

$footer-copyline: 3.6em;

/////// LAYOUT ///////

$width-full: 1200px;

$pad-h: 18px;
$pad-v: 18px;
$pad-h-thin: $pad-h / 2;
$pad-v-thin: $pad-v / 1.618;
$pad-v-big: $pad-v * 2;
$pad-border: 8px;

$lineheight-stickyhead: $t-small * 0.8;
$height-stickyhead: $pad-v * 2 + $lineheight-stickyhead;

$height-vid: 315px;
$width-vid: 560px;

$height-footercopy: $footer-copyline;


/////// STACKING ///////

$layer-top: 1000;  // basically just for the sticky header
$layer-high: 100;
$layer-low: -100;
$layer-bottom: -1000;  // make things really go away


/////// COLOURS ///////

$c-bg: #000;
$c-copy: #ccc;
$c-med: #999;
$c-bright: #fff;

$c-outline: #999;  // borders and such

$c-heavy: $c-bright;  // probably for big bold headers

$c-accent: #ca0000;   // red
$c-accent2: #ffd357;  // yellow
$c-accent3: #75b81b;  // green
$c-female: #fda1ca;   // pink
$c-male: #92cef2;     // purple

$c-header-bg: $c-bg;
$c-header-med: $c-med;
$c-header-bright: $c-bright;
$c-header-menu: rgba(24, 24, 24, 0.85);

$c-footer-light: #f8f8f8;
$c-footer-med: #a0a0a0;
$c-footer-dark: #212121;


/////// BORDERs ///////
$b-outline: 1px solid $c-outline;

$radius-rounded: 3px;
