/*! Kibera Schools variables | BSD License, see LICENSE */

/////// TEXT ///////

$t-base: 16px;
$t-small: 12px;
$t-heavy: 900;


/////// LAYOUT ///////

$width-page: 980px;

$pad-h: 20px;
$pad-v: 14px;
$pad-h-thin: $pad-h / 2;
$pad-v-thin: $pad-v / 1.618;
$pad-v-big: $pad-v * 2;
$pad-border: 6px;

$height-stickyhead: $pad-v * 2 + $t-small;

$height-vid: 288px;
$width-vid: 512px;


/////// STACKING ///////

$layer-top: 1000;  // basically just for the sticky header
$layer-high: 100;
$layer-low: -100;
$layer-bottom: -1000;  // make things really go away


/////// COLOURS ///////

$c-copy: #444;

$c-header-bg: #000;
$c-header-med: #999;
$c-header-bright: #fff;
$c-header-menu: rgba(24, 24, 24, 0.85);


/////// BORDERs ///////
$b-outline: 1px solid #ccc;
