/*! Kibera School Project Styles | BSD license */

/*
 * Type
 */
header {
  font-size: 0.8em;
}
header.text-reset strong {  /* the class is required to win specificity */
  font-weight: bold;
}
section#home-video {
  text-align: center;
}
section#home-video h2 {
  font-size: 2em;
  text-shadow: 0 0 0.3em rgba(255, 255, 255, 0.4);
}
section#home-video .video-copy {
  font-size: 1.25em;
  font-weight: bold;
}

/*
 * Colours
 */
header a,
footer a {
  color: inherit;
}
header {
  background: #222;
  color: #ccc;
}
header.text-reset strong {
  color: white;
}
section#home-video {
  color: #444;
}
section#home-video .video-load-play {
  background: url('../img/button-play.png');
  opacity: 0.8;
}
section#home-video .video-load-play:hover {
  opacity: 1;
}
footer {
  background: #444;
  color: #ddd;
}

/*
 * Borders
 */
section {
  border: 1px solid #ccc;
  border-width: 0 1px 1px;  /* no top border */
}
section:last-of-type {
  border-bottom-width: 0;  /* no border before the footer */
}

