/*! Kibera School Project Styles | BSD license */

/*
 * Type
 */
header {
  font-size: 0.8em;
}
header.text-reset strong {  /* the class is required to win specificity */
  font-weight: bold;
}

/*
 * Colours
 */
header a,
footer a {
  color: inherit;
}
header {
  background: #222;
  color: #ccc;
}
header.text-reset strong {
  color: white;
}
footer {
  background: #444;
  color: #ddd;
}

/*
 * Borders
 */
section {
  border: 1px solid #ccc;
  border-width: 0 1px 1px;  /* no top border */
}
section:last-of-type {
  border-bottom-width: 0;  /* no border before the footer */
}

