<!doctype html>
<html lang="{{ lang or 'en' }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Kibera Schools Project</title>
    <meta name="description" content="{{ description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="author" href="/humans.txt" />

    {{ css() }}{# see app/static.py #}
  </head>
  <body>

    {% block content %}
      {# other pages override this block to provide content here #}
    {% endblock %}

    {{ js() }}{# see app/static.py #}
  </body>
</html>
