<!doctype html>
<html lang="{{ lang or 'en' }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Kibera Schools Project</title>
    <meta name="description" content="{{ description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- CANONICAL("{{ request.path }}"){ -->
      <!-- this should be replaced with the production canonical link by the bash templater -->
    <!-- } -->
    <link rel="author" href="/humans.txt" />
    <!-- CSS{ -->
      <!-- this should be replaced with css links by the bash templater -->
    <!-- } -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:300,400,700" />
  </head>
  <body>
    <div class="container">

      <header class="text-reset">
        <h1>
          <a href="http://feedbacklabs.org" target="_blank"
             title="Feedback Labs: Real Conversations, Real Action">Feedback Labs </a>
          <a href="{{ url_for('home') }}"
             title="Kibera School Project Home"><strong>Kibera School Project</strong></a>
        </h1>
        <ul class="header-random-links">
          <li><a href="#">icon</a></li>
          <li><a href="#">icon</a></li>
        </ul>

        <h2>Select Stories</h2>
        <ol>
          <li><strong>1</strong></li>
          <li><strong>2</strong></li>
          <li><strong>3</strong></li>
        </ol>

        <ul class="header-social-links">
          <li>
            <a href="#" target="_top"
               title="Facebook">f</a>
          </li>
          <li>
            <a href="#" target="_top"
               title="Twitter">t</a>
          </li>
          <li>
            <a href="#" target="_top"
               title="YouTube">y</a>
          </li>
        </ul>
      </header>

      {% block content %}
        {# other pages override this block to provide content here #}
      {% endblock %}

      <footer>
        <div class="footer-blogs">
          <h2>Blog Feed</h2>
          <ol>
            {% for post in content.blog[:3] %}
              <li>
                <h3><a href="{{ url_for('blog', slug=post.slug) }}">{{ post.title }}</a></h3>
                {{ post.body }}
              </li>
            {% else %}
              <li>no posts :(</li>
            {% endfor %}
          </ol>
          <h2 class="something">Lorem opsum dolor sit amet, consectetur elit.</h2>
        </div>

        <div class="footer-contact">
          <h2>Contact Us</h2>
          <address>
            <strong>Open Gov Hub</strong><br/>
            1110 Vermont Av NW 5th floor,<br/>
            Washington, DC 20006 USA<br/>
            Tel: <a href="tel:+12025729200">+1.202.572.9200</a>
          </address>

          <h2>Share Your Story</h2>
          <form>
            <input/>
            <button>&raquo;</button>
          </form>

          <h2>Follow Us</h2>
          <ul class="footer-social-links">
            <li><a href="#">f</a></li>
            <li><a href="#">t</a></li>
          </ul>
        </div>
      </footer>

    </div>
    <!-- JS{ -->
      <!-- this should be replaced by js script tags by the bash templater -->
    <!-- } -->
  </body>
</html>
