{% extends 'base.html' %}

{% set pagenav = [
  {'href': '#videos', 'title': 'Videos'},
  {'href': '#map', 'title': 'Kibera Schools Map'},
  {'href': '#charts', 'title': 'Highlights'},
  {'href': '#stories', 'title': 'Stories'},
] %}


{% block content %}

  <section id="videos">
    <ul class="videos-slider clear-fix">
      {% for video in content.videos %}
        <li id="video-{{ loop.index }}" class="slide {{ 'selected' if loop.first }}">
          <div class="video">
            <a href="https://www.youtube.com/watch?v={{ video.youtubeid }}" data-youtubeid="{{ video.youtubeid }}"><img class="video-screenshot" src="{{ url_for('static', filename='img/kibera-screenshot.jpg') }}" alt="screenshot of a video in kibera" /></a>
          </div>
          <div class="video-meta">
            <h2>{{ video.title }}</h2>
            <p>{{ video.description }}</p>
          </div>
        </li>
      {% endfor %}
    </ul>
    <nav class="videos-pager">
      {% for video in content.videos %}
        <li>
          <a href="#video-{{ loop.index }}" class="{{ 'selected' if loop.first }}" title="switch to video: {{ video.title }}">{{ video.title }}</a>
        </li>
      {% endfor %}
    </nav>
  </section>

  <section id="map">
    <header class="map-controls">
      <div class="accent">
        <h2>Kibera School Map</h2>
      </div>
      <ul class="controls">
        <li id="schools">
          <a href="#schools">Schools</a>
          <div class="map-inputs school-list">
            <input type="text" placeholder="Quick Search" id="school-dir-search" name="school-dir-search" />
            <ul>
              {% for school in content.schools %}
                <li>
                  <a href="/schools/{{ school.slug }}"
                     data-lat="{{ school.geometry.coordinates[0][0] }}"
                     data-lng="{{ school.geometry.coordinates[0][1] }}">
                    {{ school.name }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </li>
        <li id="filters">
          <a href="#filters">Filters</a>
          <div class="map-inputs map-filters">
            map filters yo...
          </div>
        </li>
        <li id="data">
          <a href="/schools.geojson">Data</a>
        </li>
        <li id="search">
          <a href="#search">Search</a>
        </li>
      </ul>
      <div class="map-social">
        <h3>Share</h3>
        <ul class="social">
          {% for profile in content.social %}
            <li><a class="icon-{{ profile.id }}" href="{{ profile.url }}" title="{{ profile.name }}" target="_top">{{ profile.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </header>

    <div id="main-map" class="map">
    </div>
  </section>

  <section id="charts">
    <h2>{{ content.schools[0].properties.name }}</h2>
    charts and stats n stuff
  </section>

  <section id="stories">
    <h2>Stories</h2>
    <ul>
      {% for story in content.stories[:4] %}
        <li>
          <div class="smokeglass">
            <h3>{{ story.title }} / Gallery</h3>
            <p>{{ story.description }}</p>
            <a href="stories/{{ story.slug }}" class="button">See More</a>
          </div>
        </li>
      {% endfor %}
    </ul>
  </section>

{% endblock %}
