{% extends 'base.html' %}

{% block content %}

  <section id="home-video">
    <img class="video-screenshot" src="{{ url_for('static', filename='img/kibera-screenshot.jpg') }}" alt="screenshot of a video in kibera" />
    <h2>Nulla dictum massa quis adipiscing vivera.</h2>
    <a class="video-load-play invisible-text"
       title="Play Video"
       href="#play-video">play</a>
    <div class="video-copy">
      <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Nulla dictum massa quis adipiscing viverra.</p>
    </div>
  </section>

  <section id="home-map">
    <div class="map-controls">
      <header>
        <h2>My School</h2>
        <p>Kibera School Project</p>
      </header>
      <h3>Search By</h3>
      <ul>
        <li><a href="#">School Name</a></li>
        <li><a href="#">Street</a></li>
        <li><a href="#">Administrator</a></li>
        <li><a href="#">Keyword</a></li>
      </ul>
      <h3>Share</h3>
    </div>
    <div id="main-map" class="map">
    </div>
  </section>

  <section id="home-charts">
    charts and stats n stuff
  </section>

  <section id="home-copy">
    lots of words
  </section>

{% endblock %}
