{% extends 'base.html' %}

{% set pagenav = [
  {'href': '/#map', 'title': 'Kibera Schools Map'},
  {'href': '/#stories', 'title': 'Highlights'},
  {'href': '/blog/#blog-posts', 'title': 'Blog'}
] %}


{% block content %}

  <section id="school-top">
    <h1><a href="/#map" class="back-to-schools-map"><span>Back to schools map</span></a> {{ school.name }}</h1>

    {% if school.properties.photos %}
      <div id="school-photos-frame">
        <ul>
          {% for photo in school.properties.photos %}
            <li>
              <a href="{{ photo }}">
                <img src="{{ photo }}" alt="photo {{ loop.index }} of {{ school.name }}" />
              </a>
            </li>
          {% endfor %}
        </ul>
        <a id="school-photos-prev" href="#previous-photos">Previous Photos</a>
        <a id="school-photos-next" href="#next-photos">Next Photos</a>
      </div>
    {% endif %}
  </section>

  <section id="school-map">
    <div id="school-map-display" class="map"></div>
    <script>
      var school = {{ school | tojson }};
    </script>
  </section>


  {% macro dump_grouped_properties(namespace) %}
    {% for group_name in groups %}
      <h3>{{ group_name }}</h3>
      <div class="h-scroll-container">
        <table>
          <thead>
            <tr>
              {% for field in grouped_properties[group_name] %}
                {% if field[namespace] %}
                  <th>{{ field.name }}</th>
                {% endif %}
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            <tr>
              {% for field in grouped_properties[group_name] %}
                {% if field[namespace] %}
                  <td>{{ field[namespace] }}</td>
                {% endif %}
              {% endfor %}
            </tr>
          </tbody>
        </table>
      </div>
    {% endfor %}
  {% endmacro %}


  <section id="school-blurbs">

    <div class="school-info-tabs">
      <div class="data-source-tab">
        <h2>
          <a href="#data-source-osm" class="data-selectable data-osm selected">Open Street Maps Data</a>
        </h2>
      </div>
      <div class="data-source-tab">
        <h2>
          <a href="#data-source-kod" class="data-selectable data-kod">Kenya Open Data</a>
        </h2>
      </div>
    </div>

    <div class="school-info-data">
      <div id="data-source-osm" class="data-selectable data-source-data data-osm selected">
        <div class="school-stats school-more-stats">
          {{ dump_grouped_properties('osm') }}
        </div>
      </div>
      <div id="data-source-kod" class="data-selectable data-source-data data-kod">
        {% if has_kod %}
          <div class="school-stats school-more-stats">
            {{ dump_grouped_properties('kod') }}
          </div>
        {% else %}
          <p>No data available</p>
        {% endif %}
      </div>
    </div>

    {#<div class="school-info-row header-stats">
      <header class="school-stats">
        <p class="source">OSM Data</p>
        <h2>{{ school.name }}</h2>

        {% set num_students = (school.properties['osm:education:students_male'] or 0)|int +
                              (school.properties['osm:education:students_female'] or 0)|int %}
        {% if num_students > 0 %}
          <h3>{{ num_students }} Students</h3>
        {% endif %}

        <small>Location: {{ school.geometry.coordinates[0] | reverse | join(', ') }}</small>
      </header>
      <header class="school-stats">
        <p class="source">Kenya Open Data</p>
        <h2>{{ school.properties['kenyaopendata:official_name'] }}</h2>

        {% set num_students = (school.properties['kenyaopendata:Total Boys'] or 0)|int +
                              (school.properties['kenyaopendata:Total Girls'] or 0)|int %}
        {% if num_students > 0 %}
          <h3>{{ num_students }} Students</h3>
        {% endif %}

        {% if school.geometry.coordinates | length > 1 %}
          <small>Location: {{ school.geometry.coordinates[1] | reverse | join(', ') }}</small>
        {% endif %}
        {% if not has_kod %}
          <h2>&nbsp;</h2>
          <h3>No data available</h3>
        {% endif %}
      </header>
    </div>#}

  </section>

  <section id="school-feedback">
    <div class="comments">
      <h2>Comments</h2>
      <div class="fb-comments" data-href="http://schools.mapkibera.org/schools/{{ school.slug }}" data-numposts="5" data-width="100%" data-colorscheme="light">Loading facebook comments... (requires javascript)</div>
    </div>
  </section>

  {# activate twitter share buttons #}
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  {# facebook... #}
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&appId=737854286236575&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

{% endblock %}
