{% extends 'base.html' %}

{% set pagenav = [
  {'href': '#school-map', 'title': 'School Map'},
  {'href': '#school-blurbs', 'title': 'Highlights'},
] %}


{% block content %}

  <section id="school-top">
    <h1>{{ school.name }}</h1>

    {% if school.properties.photos %}
      <div id="school-photos-frame">
        <ul>
          {% for photo in school.properties.photos %}
            <li>
              <a href="{{ photo }}">
                <img src="{{ photo }}" alt="photo {{ loop.index }} of {{ school.name }}" />
              </a>
            </li>
          {% endfor %}
        </ul>
        <a id="school-photos-prev" href="#previous-photos">Previous Photos</a>
        <a id="school-photos-next" href="#next-photos">Next Photos</a>
      </div>
    {% endif %}
  </section>

  <section id="school-map">
    <header class="map-controls">
      <ul class="controls">
        <li id="map-main">
          <a href="/#map">Back to Main Map</a>
        </li>
        <li id="data">
          <a href="/schools.geojson">Data</a>
        </li>
      </ul>
      <div class="social">
        <h3>Share</h3>
        <ul>
          {% for profile in content.social %}
            <li><a href="{{ profile.url }}" title="{{ profile.name }}" target="_top">{{ profile.icon }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </header>
    <div id="school-map-display" class="map"></div>
    <script>
      var school = {{ school | tojson }};
    </script>
  </section>

  <section id="school-brief">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce neque elit, eleifend eget, hendrerit quis.</p>
  </section>

  <section id="school-blurbs">
    <div class="school-info-row header-stats">
      <header class="school-stats">
        <p class="source">OSM Data</p>
        <h2>{{ school.name }}</h2>
        {% set num_students = (school.properties['osm:education:students_male'] or 0)|int +
                              (school.properties['osm:education:students_female'] or 0)|int %}
        {% if num_students > 0 %}
          <h3>{{ num_students }} Students</h3>
        {% endif %}
        <small>Location: {{ school.geometry.coordinates[0] | reverse | join(', ') }}</small>
      </header>
      <header class="school-stats">
        <p class="source">Kenya Open Data</p>
        <h2>{{ school.properties['kenyaopendata:official_name'] }}</h2>
        {% set num_students = (school.properties['kenyaopendata:Total Boys'] or 0)|int +
                              (school.properties['kenyaopendata:Total Girls'] or 0)|int %}
        {% if num_students > 0 %}
          <h3>{{ num_students }} Students</h3>
        {% endif %}
        {% if school.geometry.coordinates | length > 1 %}
          <small>Location: {{ school.geometry.coordinates[1] | reverse | join(', ') }}</small>
        {% endif %}
        {% if not has_kod %}
          <small>No data available</small>
        {% endif %}
      </header>
    </div>

    {% macro cell(name, val=none, key=none) %}
      {% set cell_value = val or school.properties[key] %}
      {% if cell_value %}
        <div class="cell">
          <h4>{{ name }}</h4>
          <span class="value">{{ cell_value | humandata }}</span>
        </div>
      {% endif %}
    {% endmacro %}
    <div class="school-info-row">
      <div class="school-stats stats-grid">
        {{ cell('Type of School', key='osm:operator:type') }}
        {{ cell('Education Level', key='osm:education:type') }}
        {{ cell('Male Students', key='osm:education:students_male') }}
        {{ cell('Female Students', key='osm:education:students_female') }}
        {{ cell('Teachers', key='osm:education:teachers') }}
      </div>
      {% if has_kod %}
        <div class="school-stats stats-grid">
          {{ cell('Type of School', key='kenyaopendata:Sponsor of School') }}
          {{ cell('Education Level', key='kenyaopendata:Level of Education') }}
          {{ cell('Male Students', key='kenyaopendata:Total Boys') }}
          {{ cell('Female Students', key='kenyaopendata:Total Girls') }}
          {{ cell('Teachers', key='kenyaopendata:Total Teaching staff') }}
        </div>
      {% endif %}
    </div>
  </section>

  <section id="school-feedback">
    <div class="comments">
      <h2>Comments</h2>
      <div class="fb-comments" data-href="http://schools.mapkibera.org/schools/{{ school.slug }}" data-numposts="5" data-width="100%" data-colorscheme="light">Loading facebook comments... (requires javascript)</div>
    </div>
  </section>

  {# facebook comments #}
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&appId=737854286236575&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

{% endblock %}
