{% extends 'base.html' %}

{% block content %}

  <section id="school-banner">
    <div id="school-map" class="map"></div>
    <div class='school-overlay'>
      <h1>{{ school.properties.name }}</h1>
    </div>
    <script>
      var school = {{ school | tojson }};
    </script>
  </section>

  <section id="school-brief">
    quick overview of this school
  </section>

  <section id="school-blurbs">
    some words and small photos
  </section>

  <section id="school-feedback">
    columnar comments
  </section>

  <section id="school-charts">
    some key graphs
  </section>

{% endblock %}
